{% extends 'base.html' %}

{% block title %}
Fajlovi
{% endblock %}

{% block content %}
<h1>Upload</h1>
<div style="text-align: center;">
    <form action="/files" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required/>
        <input type="submit" value="Upload">
    </form>
</div>
{% if uploaded_file != null %}
<h1>File uploaded successfully</h1>
<p>File Name: {{uploaded_file}}</p>
{% endif %}

<h1>Files</h1>
<table style="margin-left: auto; margin-right: auto;">
    {% for file in files: %}
    <tr>
        <td>
            {{file[2]}}
        </td>
        <td>
            {{file[1]}}
        </td>
        <td>
            <button onclick="location.href='files/{{file[1]}}'">DOWNLOAD</button>
        </td>
        <td>
            <button onclick="confirmDeleteFile('{{file[1]}}')">DELETE</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}