{% extends 'base.html' %}

{% block title %}
Cene
{% endblock %}

{% block body_onload %}
onload="createTablePrice({{prices}}, 'datum-od')"
{% endblock %}

{% block content %}
<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td>
            <label for="datum-od">Datum od</label>
            <input type="date" id="datum-od">
        </td>
        <td>
            <label for="porucilac">Porucioci:&nbsp;</label>
            <select id="porucilac" style="text-align: center;">
                {% for e in porucioci: %}
                <option value="{{e[0]}}">{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <label for="artikal">Artikli:&nbsp;</label>
            <select id="artikal" style="text-align: center;">
                {% for e in artikli: %}
                <option value="{{e[0]}}">{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <label for="mesto">Mesto:&nbsp;</label>
            <select id="mesto" style="text-align: center;">
                {% for e in mesta: %}
                <option value="{{e[0]}}">{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <label for="cena">Cena</label>
            <input type="number" id="cena">
        </td>
        <td>
            <button onclick="insert()">
                Insert
            </button>
        </td>
    </tr>
</table>

<div style="padding-top: 10px" id="container"></div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}
