{% extends 'base.html' %}

{% block title %}
Reports
{% endblock %}

{% block body_onload %}
onload="createTable({{reports}}, 'broj', {{optionalColumns}})"
{% endblock %}

{% block content %}
<h1>Reports</h1>

<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td>
            <label for="broj">Broj</label>
            <input type="number" id="broj" value="{{broj}}">
        </td>
        <td>
            <label for="neto-od">Neto od</label>
            <input type="number" id="neto-od" value="{{neto_od}}">
        </td>
        <td>
            <label for="neto-do">Neto do</label>
            <input type="number" id="neto-do" value="{{neto_do}}">
        </td>
    </tr>
    <tr>
        <td>
            <label for="posiljalac">Posiljaoci:&nbsp;</label>
            <select id="posiljalac" style="text-align: center;">
                <option value>--- Svi ---</option>
                {% for e in posiljaoci: %}
                <option value="{{e[0]}}" {% if posiljalac== e[0] %} selected {% endif %}>{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <label for="porucilac">Porucioci:&nbsp;</label>
            <select id="porucilac" style="text-align: center;">
                <option value>--- Svi ---</option>
                {% for e in porucioci: %}
                <option value="{{e[0]}}" {% if porucilac== e[0] %} selected {% endif %}>{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <label for="primalac">Primaoci:&nbsp;</label>
            <select id="primalac" style="text-align: center;">
                <option value>--- Svi ---</option>
                {% for e in primaoci: %}
                <option value="{{e[0]}}" {% if primalac== e[0] %} selected {% endif %}>{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="artikal">Artikli:&nbsp;</label>
            <select id="artikal" style="text-align: center;">
                <option value>--- Svi ---</option>
                {% for e in artikli: %}
                <option value="{{e[0]}}" {% if artikal== e[0] %} selected {% endif %}>{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <label for="prevoznik">Prevoznici:&nbsp;</label>
            <select id="prevoznik" style="text-align: center;">
                <option value>--- Svi ---</option>
                {% for e in prevoznici: %}
                <option value="{{e[0]}}" {% if prevoznik== e[0] %} selected {% endif %}>{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <label for="registracija">Registracije:&nbsp;</label>
            <select id="registracija" style="text-align: center;">
                <option value>--- Sve ---</option>
                {% for e in registracije: %}
                <option value="{{e[0]}}" {% if registracija== e[0] %} selected {% endif %}>{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="datum-od">Datum od</label>
            <input type="date" id="datum-od" value="{{datumOd}}">
        </td>
        <td>
            <label for="datum-do">Datum do</label>
            <input type="date" id="datum-do" value="{{datumDo}}">
        </td>
        <td>
            <button onclick="search()">
                Search
            </button>
            <a href="reports">
                <button>Clear</button>
            </a>
            <button onclick="export_file()">
                Export
            </button>
        </td>
    </tr>
    <tr>
        <td>
            Count: {{count}}
        </td>
        <td>
            Neto sum: {{neto_sum}}
        </td>
        <td>
            <input type="hidden" id="limit" value="{{limit}}">
            <button onclick="search(1, true)">X</button>
            Broj prethodnih dana: {{limit}}
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <input type="checkbox" id="primalac-checkbox" {% if optionalColumns['primalac'] == 'true' %} checked {% endif %}>
            <label for="primalac-checkbox">Primalac</label>

            <input type="checkbox" id="vozac-checkbox" {% if optionalColumns['vozac'] == 'true' %} checked {% endif %}>
            <label for="vozac-checkbox">Vozac</label>

            <input type="checkbox" id="bruto-checkbox" {% if optionalColumns['bruto'] == 'true' %} checked {% endif %}>
            <label for="bruto-checkbox">Bruto</label>

            <input type="checkbox" id="tara-checkbox" {% if optionalColumns['tara'] == 'true' %} checked {% endif %}>
            <label for="tara-checkbox">Tara</label>
        </td>
    </tr>
</table>

<div style="padding-top: 10px" id="container"></div>
<br/>
{% if not datumOd and not datumDo %}
<input type="number" id="load-more" value="1">
<label for="load-more">
    <button onclick="search({{limit}} + Number(document.getElementById('load-more').value))">Load more</button>
</label>
{% endif %}
<hr/>
<h1>END</h1>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}