{% extends 'base.html' %}

{% block title %}
Reports
{% endblock %}

{% block body_onload %}
onload="createTable({{reports}}, 'broj')"
{% endblock %}

{% block content %}
<h1>Reports</h1>

<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td>
            <label for="broj">Broj</label>
            <input type="number" id="broj" value="{{broj}}">
        </td>
        <td>
            <label for="neto-od">Neto od</label>
            <input type="number" id="neto-od" value="{{neto_od}}">
        </td>
        <td>
            <label for="neto-do">Neto do</label>
            <input type="number" id="neto-do" value="{{neto_do}}">
        </td>
    </tr>
    <tr>
        <td>
            <select id="posiljalac">
                <option value style="color: gray;">--- Svi posiljaoci ---</option>
                {% for e in posiljaoci: %}
                <option value="{{e[0]}}"{% if posiljalac == e[0] %} selected {% endif %}>{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select id="porucilac">
                <option value style="color: gray;">--- Svi porucioci ---</option>
                {% for e in porucioci: %}
                <option value="{{e[0]}}" {% if porucilac == e[0] %} selected {% endif %}>{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select id="primalac">
                <option value style="color: gray;">--- Svi primaoci ---</option>
                {% for e in primaoci: %}
                <option value="{{e[0]}}" {% if primalac == e[0] %} selected {% endif %}>{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <select id="artikal">
                <option value style="color: gray;">--- Svi artikli ---</option>
                {% for e in artikli: %}
                <option value="{{e[0]}}" {% if artikal == e[0] %} selected {% endif %}>{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select id="prevoznik">
                <option value style="color: gray;">--- Svi prevoznici ---</option>
                {% for e in prevoznici: %}
                <option value="{{e[0]}}" {% if prevoznik == e[0] %} selected {% endif %}>{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select id="registracija">
                <option value style="color: gray;">--- Sve registracije ---</option>
                {% for e in registracije: %}
                <option value="{{e[0]}}" {% if registracija == e[0] %} selected {% endif %}>{{e[0]}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="datum-od">Datum od</label>
            <input type="date" id="datum-od" value="{{datumOd}}">
        </td>
        <td>
            <label for="datum-do">Datum do</label>
            <input type="date" id="datum-do" value="{{datumDo}}">
        </td>
        <td>
            <button onclick="search()">
                Search
            </button>
            <a href="reports">
                <button>Clear</button>
            </a>

        </td>
    </tr>
</table>

<div style="padding-top: 10px" id="container"/>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}